{{ define "main" }}
    <main>
      <header class="homepage-header">
        {{ with .Params.subtitle }}
        <span class="subtitle">{{.}}</span>
        {{ end }}
      </header>
      <div class="homepage-content">
        <h1>Vula is available for testing</h1>
<p>Check out the <a href="https://codeberg.org/vula/vula">source code</a> and <a href="/install/">install it</a> to experiment with Vula!</p>

<h2>Vula welcomes contributions</h2>
<p>To get involved in improving the Vula codebase we have <a href="/hacking/">some helpful tips</a>, as well as a <a href="/status/">status document</a> for <a href="https://codeberg.org/vula/vula">the current implementation</a>. If you are not sure where to get started the Vula <a href="https://codeberg.org/vula/vula/src/branch/main/TODO.md">TODO</a> has tasks of various skill levels.</p>

<h2>Vula is available for peer review</h2>
<p>Our <a href="/preprint-18-10-2021-vula-paper.pdf">preprint publication</a> about Vula is available for review. We additionally encourage reading about Vula's <a href="/notes/">threat model
  and other technical details</a>, a <a href="/comparison/">preliminary comparision with other similar systems</a>, and <a href="/operation-vula/">a note about the history behind the name</a>.</p>
      </div>
    </main>
{{ end }}
